body {
  font-family: "Asar", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: black;
  position: relative; 
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.header {
  background-color: #BAA896;
  padding: 10px;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 20px;
}

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: row;
}

.nav-link {
  color: white;
  margin: 5px; 
  text-align: center;
  border-radius: 10px;
  padding: 10px 5px;
}
.nav-link:hover {
  background-color: #e8b86a9d;
  transition: background-color 0.3s ease; 
}
.nav-link.active {
  background-color: #e6b566;
  border-radius: 10px;
}

.nav-link :nth-child(4){
  margin-right: 40px;
}

.header-top-phone a {
  color: white;
  margin-right: 28px;
}
.header-top-logo {
  margin-right: 100px;
}
.header-top-social-link{
  margin-left: auto;
}


.footer {
  background-color: #BAA896;
  bottom: 0;
  left: 0; 
  width: 100%;
}
.footer-top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-top img {
  margin-top: 10px;
  margin-bottom: 10px;
}



@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column; 
  }
  .header-top-logo{
    width: 150px;
    height: 150px;
  }
}
